.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  background: #f9f9fa;
  position: relative;
}

.contained {
  background-color: #6367f6;
  color: #fff;
}

.wrap {
  margin: 0 auto;
  max-width: 450px;
  padding: 40px 0 40px 0;
}
